<div class="wrapper">
  <div class="sub-wrapper" *ngIf="weather$ | async as weather">
    <!-- <div *ngFor="weather of weather$ | async"></div> isto ovako moze-->

    <div class="sub-wrapper date">{{dateString}}</div>

    <div class="container">
      <div class="current-weather-time">
        <span>Current weather</span> <span>{{currentTime}}</span>
      </div>
      <hr>
      <div class="temp">
        <div class="temp now">
          <span>{{temp}}&deg;C</span>
          <div style="font-size: 20px; margin-top:10px; color: gray;">{{weather.weather[0].description}}</div>
          <div style="font-size: 18px;"></div>
        </div>
        <span class="temp feels_like" style="font-size: 25px;">RealFeel: {{realFeel}}&deg;C</span>
      </div>
      <div class="weather-info-wrapper">
        <span class="weather-info">
          <ul>
            <li>Country<span>{{weather.sys.country}}</span></li>
            <li>Wind <span>{{weather.wind.speed}} km/h</span></li>
            <li>Cloud <span>Cover: {{weather.clouds.all}}%</span></li>
            <li>Humidity <span>{{weather.main.humidity}}%</span></li>
            <li>Pressure <span>{{weather.main.pressure}}mb</span></li>

          </ul>
        </span>
        <span class="weather-info">
          <ul>
            <li>TempMax<span>{{weather.main.temp_max}}&deg;C</span></li>
            <li>TempMin <span>{{weather.main.temp_min}} &deg;C</span></li>
            <li>Sunrise <span>{{surniseTime}}</span></li>
            <li>Sunset <span>{{sunsetTime}}</span></li>
            <li>Timezone <span>{{weather.timezone}}</span></li>
          </ul>
        </span>
      </div>
    </div>
  </div>

</div>