<div class="wrapper">
  <!-- <div class="headers">
    <div class="header" (click)="navigateToToday()" routerLinkActive="active">TODAY</div>
    <div class="header" (click)="navigateToHourly()" routerLinkActive="active">HOURLY</div>
    <div class="header" (click)="navigateToDaily()" routerLinkActive="active">DAILY</div>
    <div class="header" (click)="navigateToRadar()" routerLinkActive="active">RADAR</div>
    <div class="header" (click)="navigateToMinuteCast()" routerLinkActive="active">MINUTECAST</div>
    <div class="header" (click)="navigateToMonthly()" routerLinkActive="active">MONTHLY</div>
    <div class="header" (click)="navigateToAirQuality()" routerLinkActive="active">AIR QUALITY</div>
    <div class="header" (click)="navigateToHealthActivites()" routerLinkActive="active">
      HEALT & ACTIVITES
    </div> -->
  <div class="headers">
    <div class="header" routerLink="/today" routerLinkActive="active">TODAY</div>
    <div class="header" routerLink="/hourly" routerLinkActive="active">HOURLY</div>
    <div class="header" routerLink="/daily" routerLinkActive="active">DAILY</div>
    <!-- <div class="header" routerLink="/radar" routerLinkActive="active">RADAR</div>
    <div class="header" routerLink="/minutecast" routerLinkActive="active">MINUTECAST</div>
    <div class="header" routerLink="/monthly" routerLinkActive="active">MONTHLY</div>
    <div class="header" routerLink="/air-quality" routerLinkActive="active">AIR QUALITY</div>
    <div class="header" routerLink="/health-activities" routerLinkActive="active"> -->
    <!-- HEALTH & ACTIVITES -->
  </div>
</div>
<!-- <ul class="headers">
    <li class="header"><a [routerLink]="'today'" href="">TODAY</a></li>
    <li class="header"><a [routerLink]="'hourly'" href="">HOURLY</a></li>
    <li class="header"><a [routerLink]="'daily'" href="">DAILY</a></li>
    <li class="header"><a [routerLink]="'radar'" href="">RADAR</a></li>
    <li class="header"><a [routerLink]="'minutecast'" href="">MINUTECAST</a></li>
    <li class="header"><a [routerLink]="'monthly'" href="">MONTHLY</a></li>
    <li class="header"><a [routerLink]="'air-quality'" href="">AIR QUALITY</a></li>
    <li class="header"><a [routerLink]="'health-activities'" href="">HEALT & ACTIVITES</a></li>
  </ul>
</div> -->



<!-- -----------------DRUGI NACIN--------------- -->